<!DOCTYPE html>
<head>
	<meta charset="utf8">
	<title>基因检测报告</title>
	<link rel="stylesheet" href="/home/woods/project/genetech/app/static/pdfpage.css">
</head>
<body>
	<div class="header">
		<p>报告基本信息</p>
	</div>
	<div class="content">
		<li>
			<span class="item-name">
				<p class="character">姓名</p>
				<p class="letter">User Name</p>			
			</span>
			<span class="item-content">马树霞</span>
		</li>
		<li>
			<span class="item-name">
				<p class="character">性别</p>
				<p class="letter">Gender</p>
			</span>
			<span class="item-content">女</span>
		</li>
		<li>
			<span class="item-name">
				<p class="character">ID识别号</p>
				<p class="letter">ID identification number</p>
			</span>
			<span class="item-content">010001534</span>
		</li>
		<li>
			<span class="item-name">
				<p class="character">报告类型</p>
				<p class="letter">Report Type</p>
			</span>
			<span class="item-content">卫士基因检测 - I</span>
		</li>
		<li>
			<span class="item-name">
				<p class="character">报告编号</p>
				<p class="letter">Report Number</p>
			</span>
			<span class="item-content">010001534</span>
		</li>
		<li>
			<span class="item-name">
				<p class="character">检测时间</p>
				<p class="letter">Testing Time</p>
			</span>
			<span class="item-content">2017-11-13</span>
		</li>
		<li>
			<span class="item-name">
				<p class="character">报告单位</p>
				<p class="letter">Reporting Institution</p>
			</span>
			<span class="item-content">中科院团队上海基因检测实验室</span>
		</li>
		<li>
			<span class="item-name">
				<p class="character">送检单位</p>
				<p class="letter">Inspection Institution</p>
			</span>
			<span class="item-content">/</span>
		</li>
		<li>
			<span class="item-name">
				<p class="character">报告日期</p>
				<p class="letter">Reporting Date</p>
			</span>
			<span class="item-content">2017-11-16</span>
		</li>
	</div>
	<div class="signature">
		<p>中科院团队联合研发</p>
		<p>中科院教授&nbsp&nbsp&nbsp特邀首席科学家监制</p>	
	</div>
</body>